name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - uses: aws-actions/setup-sam@v2
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Build
        run: sam build

      - name: Deploy
        run: |
          sam deploy --no-confirm-changeset --no-fail-on-empty-changeset \
            --stack-name mib-converter-stack \
            --resolve-s3 \
            --capabilities CAPABILITY_IAM \
            --region ap-northeast-1 \
            --parameter-overrides \
              NewRelicAccountId=${{ secrets.NEW_RELIC_ACCOUNT_ID }} \
              NewRelicLicenseKey=${{ secrets.NEW_RELIC_LICENSE_KEY }}